<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dũng</title>
    <link href="views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="views/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Danh Mục</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="./home">
                <i class="fas fa-fw fa-cog"></i>
                <span>...</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            ...
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>...</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">...</h6>
                    <a class="collapse-item" href="">...</a>
                    <a class="collapse-item" href="">...</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>...</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">...</h6>
                    <a class="collapse-item" href="">...</a>
                    <a class="collapse-item" href="">...</a>
                    <a class="collapse-item" href="">...</a>
                    <a class="collapse-item" href="">...</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            ...
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>...</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">...</h6>
                    <a class="collapse-item" href="">...</a>
                    <a class="collapse-item" href="">...</a>
                    <a class="collapse-item" href="">...</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">...</h6>
                    <a class="collapse-item" href="">...</a>
                    <a class="collapse-item" href="">...</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>...</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-table"></i>
                <span>...</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2"/>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">Trung tâm cảnh báo</h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">25/10/2022</div>
                                    <span class="font-weight-bold">...</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">25/10/2022</div>
                                    ...
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">25/10/2022</div>
                                    ...
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Tất cả thông báo</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">Trung tâm thông báo</h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="..."/>
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Xin chào.</div>
                                    <div class="small text-gray-500">...</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="..."/>
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Hello</div>
                                    <div class="small text-gray-500">...</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="..."/>
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Hello</div>
                                    <div class="small text-gray-500">2 ngày trước</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="..."/>
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">...</div>
                                    <div class="small text-gray-500">2 tuần trước</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Đọc thêm tin nhắn</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Ngọc Dũng</span>
                            <img class="img-profile rounded-circle" src="img/undraw_profile.svg"/>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/home" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row ">
                    <!-- Content Column -->

                    <div class="col-lg-3 mb-4">
                        <!-- Project Card Example -->

                        <div class="text-center">
                            <img src="https://playerduo.com/api/upload-service/images/89f8cecd-7938-4c5e-bd79-29458095c757__7a4302c0-23b8-11ed-92ac-1b8d2f5bc2b5__player_avatar.jpg"
                                 class="rounded" alt="..."/>
                            <p class="pt-2 text-success font-weight-bold h5">
                                Đang sẵn sàng
                            </p>


                            <a href=""><img
                                    src="https://tuvaco.com.vn/wp-content/uploads/2018/01/facebook-icon-1024x1024.png"
                                    style="width: 32px; height: 32px; border-radius: 50%" alt="..."/></a>
                            <a href="">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2hpld-INLhUl3WUenfSZQCSwODRfaz05x5nyHMxXA_g&s"
                                     style="width: 32px; height: 32px; border-radius: 50%" alt="..."/>
                            </a>

                        </div>
                    </div>

                    <div class="col-lg-5 mb-4">
                        <!-- Illustrations -->
                        <div class="mb-4">


                            <div class="d-flex justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary py-3">
                                    Tên người
                                </h6>
                                <button type="submit"
                                        style="width: 120px;height: 29px;background-color:#f0564a;border-radius: 20px; padding: 3px 10px 2px; color: white;border: 1px solid #f0564a"
                                        class="text-center">3 Theo dõi
                                </button>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div
                                        style="width:149px;height:42px;box-sizing: border-box; display: block; font-size: 14px; line-height: 1.5;">
                                        <span style="font-weight: 700; text-transform: uppercase;">số người theo
                                            dõi</span>
                                    <span style="color: #f0564a;">297</span>
                                </div>
                                <div
                                        style="width:145px;height:42px;box-sizing: border-box; display: block; font-size: 14px; line-height: 1.5;">
                                    <span style="font-weight: 700; text-transform: uppercase;">ĐÃ ĐƯỢC THUÊ</span>
                                    <span style="color: #f0564a;">4321 giờ</span>
                                </div>
                                <div
                                        style="width:149px;height:42px;box-sizing: border-box; display: block; font-size: 14px; line-height: 1.5;">
                                        <span style="font-weight: 700; text-transform: uppercase;">TỶ LỆ HOÀN
                                            THÀNH</span>
                                    <span style="color: #f0564a;">94.34 %</span>
                                </div>
                                <div
                                        style="width:149px;height:42px;box-sizing: border-box; display: block; font-size: 14px; line-height: 1.5;">
                                        <span style="font-weight: 700; text-transform: uppercase;">TÌNH TRẠNG THIẾT
                                            BỊ</span>
                                    <span style="color: #f0564a;">0</span>
                                </div>
                            </div>
                        </div>

                        <!-- Approach -->

                        <div class="card shadow mb-4">
                            <h6 class="m-0 font-weight-bold text-primary py-3 ml-3">
                                Thông tin
                            </h6>
                            <p class="ml-3">𝓛𝓲𝓶𝓲𝓽𝓮𝓭</p>
                            <div class="d-flex justify-content-between" style="margin: 0 5px 10px 5px;">
                                <img src="https://playerduo.com/api/upload-service/thumbs/medium/89f8cecd-7938-4c5e-bd79-29458095c757__3dba33d0-4fed-11ed-838c-b120e70abb59__player_album.jpg"
                                     alt="" style="width: 121px; height:121px">
                                <img src="https://playerduo.com/api/upload-service/thumbs/medium/89f8cecd-7938-4c5e-bd79-29458095c757__1f942220-2dac-11ed-92ac-1b8d2f5bc2b5__player_album.jpg"
                                     alt="" style="width: 121px; height:121px">
                                <img src="https://playerduo.com/api/upload-service/thumbs/medium/89f8cecd-7938-4c5e-bd79-29458095c757__b7595610-2c04-11ed-92ac-1b8d2f5bc2b5__player_album.jpg"
                                     alt="" style="width: 121px; height:121px">
                                <img src="https://playerduo.com/api/upload-service/thumbs/medium/89f8cecd-7938-4c5e-bd79-29458095c757__b5fc5d90-10ba-11ed-92ac-1b8d2f5bc2b5__player_album.jpg"
                                     alt="" style="width: 121px; height:121px">
                                <img src="https://playerduo.com/api/upload-service/thumbs/medium/89f8cecd-7938-4c5e-bd79-29458095c757__a5e26880-db83-11ec-bb39-3799c118b8e8__player_album.jpg"
                                     alt="" style="width: 121px; height:121px">
                            </div>
                            <p class="ml-3">♥️ MonDy tên là Quỳnh Nga sinh năm 2002 ở Hà Nội ạ.</p>
                            <p class="ml-3">🎀 Thuê trên 2h giúp em nha♥️ . Đêm 100k/h ạ</p>
                            <p class="ml-3">Chấm xanh bấm thuê luôn đỡ phải nói nhiều =)))</p>
                            <a class="ml-3"
                               href="https://www.facebook.com/MonDy2901">https://www.facebook.com/MonDy2901</a>
                            <p class="ml-3">Em cảm ơn ạ.</p>
                        </div>
                        <div class="card shadow mb-4">
                            <h6 class="m-0 font-weight-bold text-primary py-3 ml-3">
                                Đánh giá
                            </h6>

                            <div style="margin-top: 23px; width: 100%; padding: 1rem">
                                <div style="display:flex ;">
                                    <div style="width:10%;">
                                        <div style="width: 52px; height:55px">
                                            <img src="https://playerduo.com/api/upload-service/images/9838a305-b07e-4eb5-89a1-4e041bfeb976__df47e400-40f1-11ed-838c-b120e70abb59__page_avatar.jpg"
                                                 alt="PD" style="width: 100%; padding: 3px; border-radius: 50%;">
                                        </div>
                                    </div>
                                    <div style="width: 88%;margin-left: 2%;">
                                        <div style="width:80%;">
                                            <a href="">
                                                <p style="
                                                            font-size: 15px; 
                                                            font-weight: 600; 
                                                            margin-bottom: 5px;
                                                            font-style: normal;
                                                            font-stretch: normal;
                                                            line-height: 1.13;
                                                            letter-spacing: -.2px;
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            text-overflow: ellipsis;">
                                                    Mr. Melody
                                                </p>
                                            </a>
                                            <p
                                                    style="font-size: 12px; font-weight: 400; font-style: normal; font-stretch: normal; color: #616770; ">
                                                <span>19:19:11, 6/10/2022</span>
                                            </p>
                                        </div>
                                        <div>

                                        </div>
                                    </div>

                                    <div style="width: 15%;">
                                        <div style="color:#ff9948; margin-bottom: 5px; white-space: nowrap;">
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                        </div>
                                        <p
                                                style="font-size: 12px; font-weight: 400; color: #000; font-stretch: normal; float: right; margin-right: 1rem;">
                                            (Thuê 5h)</p>
                                    </div>
                                </div>

                                <p style="width: 100%; display: inline-block ; font-size: 14px;">
                                    <span>Ngon nha a/e! Thuê đi để cảm nhận :3. mừi đỉm</span>
                                </p>
                            </div>
                            <hr width="90%" style="margin-left: 5%;"/>
                            <div style="margin-top: 23px; width: 100%; padding: 1rem">
                                <div style="display:flex ;">
                                    <div style="width:10%;">
                                        <div style="width: 52px; height:55px">
                                            <img src="https://playerduo.com/api/upload-service/images/9838a305-b07e-4eb5-89a1-4e041bfeb976__df47e400-40f1-11ed-838c-b120e70abb59__page_avatar.jpg"
                                                 alt="PD" style="width: 100%; padding: 3px; border-radius: 50%;">
                                        </div>
                                    </div>
                                    <div style="width: 88%;margin-left: 2%;">
                                        <div style="width:80%;">
                                            <a href="">
                                                <p style="
                                                            font-size: 15px; 
                                                            font-weight: 600; 
                                                            margin-bottom: 5px;
                                                            font-style: normal;
                                                            font-stretch: normal;
                                                            line-height: 1.13;
                                                            letter-spacing: -.2px;
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            text-overflow: ellipsis;">
                                                    Mr. Melody
                                                </p>
                                            </a>
                                            <p
                                                    style="font-size: 12px; font-weight: 400; font-style: normal; font-stretch: normal; color: #616770; ">
                                                <span>19:19:11, 6/10/2022</span>
                                            </p>
                                        </div>
                                        <div>

                                        </div>
                                    </div>

                                    <div style="width: 15%;">
                                        <div style="color:#ff9948; margin-bottom: 5px; white-space: nowrap;">
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                        </div>
                                        <p
                                                style="font-size: 12px; font-weight: 400; color: #000; font-stretch: normal; float: right; margin-right: 1rem;">
                                            (Thuê 5h)</p>
                                    </div>
                                </div>

                                <p style="width: 100%; display: inline-block ; font-size: 14px;">
                                    <span>Ngon nha a/e! Thuê đi để cảm nhận :3. mừi đỉm</span>
                                </p>
                            </div>
                            <hr width="90%" style="margin-left: 5%;"/>
                            <div style="margin-top: 23px; width: 100%; padding: 1rem">
                                <div style="display:flex ;">
                                    <div style="width:10%;">
                                        <div style="width: 52px; height:55px">
                                            <img src="https://playerduo.com/api/upload-service/images/9838a305-b07e-4eb5-89a1-4e041bfeb976__df47e400-40f1-11ed-838c-b120e70abb59__page_avatar.jpg"
                                                 alt="PD" style="width: 100%; padding: 3px; border-radius: 50%;">
                                        </div>
                                    </div>
                                    <div style="width: 88%;margin-left: 2%;">
                                        <div style="width:80%;">
                                            <a href="">
                                                <p style="
                                                            font-size: 15px; 
                                                            font-weight: 600; 
                                                            margin-bottom: 5px;
                                                            font-style: normal;
                                                            font-stretch: normal;
                                                            line-height: 1.13;
                                                            letter-spacing: -.2px;
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            text-overflow: ellipsis;">
                                                    Mr. Melody
                                                </p>
                                            </a>
                                            <p
                                                    style="font-size: 12px; font-weight: 400; font-style: normal; font-stretch: normal; color: #616770; ">
                                                <span>19:19:11, 6/10/2022</span>
                                            </p>
                                        </div>
                                        <div>

                                        </div>
                                    </div>

                                    <div style="width: 15%;">
                                        <div style="color:#ff9948; margin-bottom: 5px; white-space: nowrap;">
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                        </div>
                                        <p
                                                style="font-size: 12px; font-weight: 400; color: #000; font-stretch: normal; float: right; margin-right: 1rem;">
                                            (Thuê 5h)</p>
                                    </div>
                                </div>

                                <p style="width: 100%; display: inline-block ; font-size: 14px;">
                                    <span>Ngon nha a/e! Thuê đi để cảm nhận :3. mừi đỉm</span>
                                </p>
                            </div>
                            <hr width="90%" style="margin-left: 5%;"/>
                            <div style="margin-top: 23px; width: 100%; padding: 1rem">
                                <div style="display:flex ;">
                                    <div style="width:10%;">
                                        <div style="width: 52px; height:55px">
                                            <img src="https://playerduo.com/api/upload-service/images/9838a305-b07e-4eb5-89a1-4e041bfeb976__df47e400-40f1-11ed-838c-b120e70abb59__page_avatar.jpg"
                                                 alt="PD" style="width: 100%; padding: 3px; border-radius: 50%;">
                                        </div>
                                    </div>
                                    <div style="width: 88%;margin-left: 2%;">
                                        <div style="width:80%;">
                                            <a href="">
                                                <p style="
                                                            font-size: 15px; 
                                                            font-weight: 600; 
                                                            margin-bottom: 5px;
                                                            font-style: normal;
                                                            font-stretch: normal;
                                                            line-height: 1.13;
                                                            letter-spacing: -.2px;
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            text-overflow: ellipsis;">
                                                    Mr. Melody
                                                </p>
                                            </a>
                                            <p
                                                    style="font-size: 12px; font-weight: 400; font-style: normal; font-stretch: normal; color: #616770; ">
                                                <span>19:19:11, 6/10/2022</span>
                                            </p>
                                        </div>
                                        <div>

                                        </div>
                                    </div>

                                    <div style="width: 15%;">
                                        <div style="color:#ff9948; margin-bottom: 5px; white-space: nowrap;">
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                        </div>
                                        <p
                                                style="font-size: 12px; font-weight: 400; color: #000; font-stretch: normal; float: right; margin-right: 1rem;">
                                            (Thuê 5h)</p>
                                    </div>
                                </div>

                                <p style="width: 100%; display: inline-block ; font-size: 14px;">
                                    <span>Ngon nha a/e! Thuê đi để cảm nhận :3. mừi đỉm</span>
                                </p>
                            </div>
                            <hr width="90%" style="margin-left: 5%;"/>
                            <div style="margin-top: 23px; width: 100%; padding: 1rem">
                                <div style="display:flex ;">
                                    <div style="width:10%;">
                                        <div style="width: 52px; height:55px">
                                            <img src="https://playerduo.com/api/upload-service/images/9838a305-b07e-4eb5-89a1-4e041bfeb976__df47e400-40f1-11ed-838c-b120e70abb59__page_avatar.jpg"
                                                 alt="PD" style="width: 100%; padding: 3px; border-radius: 50%;">
                                        </div>
                                    </div>
                                    <div style="width: 88%;margin-left: 2%;">
                                        <div style="width:80%;">
                                            <a href="">
                                                <p style="
                                                            font-size: 15px; 
                                                            font-weight: 600; 
                                                            margin-bottom: 5px;
                                                            font-style: normal;
                                                            font-stretch: normal;
                                                            line-height: 1.13;
                                                            letter-spacing: -.2px;
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            text-overflow: ellipsis;">
                                                    Mr. Melody
                                                </p>
                                            </a>
                                            <p
                                                    style="font-size: 12px; font-weight: 400; font-style: normal; font-stretch: normal; color: #616770; ">
                                                <span>19:19:11, 6/10/2022</span>
                                            </p>
                                        </div>
                                        <div>

                                        </div>
                                    </div>

                                    <div style="width: 15%;">
                                        <div style="color:#ff9948; margin-bottom: 5px; white-space: nowrap;">
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                            <i class="fa-duotone fa-star"></i>
                                        </div>
                                        <p
                                                style="font-size: 12px; font-weight: 400; color: #000; font-stretch: normal; float: right; margin-right: 1rem;">
                                            (Thuê 5h)</p>
                                    </div>
                                </div>

                                <p style="width: 100%; display: inline-block ; font-size: 14px;">
                                    <span>Ngon nha a/e! Thuê đi để cảm nhận :3. mừi đỉm</span>
                                </p>
                            </div>


                        </div>

                    </div>
                    <div class="col-lg-3 ">
                        <div class="card shadow mb-4">
                                <span style="font-size: 24px; font-weight: 700; color: #f0564a; margin-left: 5%;"
                                      class="mt-3">89,000
                                    đ/h</span>
                            <div style="color:#ff9948; margin-bottom: 5px; white-space: nowrap; margin-left: 5%">
                                <i class="fa-duotone fa-star"></i>
                                <i class="fa-duotone fa-star"></i>
                                <i class="fa-duotone fa-star"></i>
                                <i class="fa-duotone fa-star"></i>
                                <i class="fa-duotone fa-star"></i>
                                <span
                                        style="color:#9298a1; font-size: 13px; font-weight: 400; line-height: 1.54;">142
                                        Đánh giá</span>
                            </div>
                            <div class="text-center">
                                <button style="
                                        background-color:#f0564a; color: #354052; width: 90%; font-size: 16px; 
                                        font-weight: 700; text-transform: uppercase; border: 0; 
                                        height:54px; margin: 10px 0 0;
                                        letter-spacing: normal;line-height: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        border-radius: 10px;
                                        ">
                                    THUÊ
                                </button>
                                <button style="
                                        background-color:#fff; color: #354052; width: 90%; font-size: 16px; 
                                        font-weight: 700; text-transform: uppercase; border: 1px solid #e2e6ea;; 
                                        height:54px; margin: 10px 0 0;
                                        letter-spacing: normal;line-height: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        border-radius: 10px;">
                                    DONATE
                                </button>
                                <button style="
                                        background-color:#fff; color: #354052; width: 90%; font-size: 16px; 
                                        font-weight: 700; text-transform: uppercase; border: 1px solid #e2e6ea;; 
                                        height:54px; margin: 10px 0 10px 0;
                                        letter-spacing: normal;line-height: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        border-radius: 10px;">
                                    CHAT
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        Cancel
                    </button>
                    <a class="btn btn-primary" href="/home">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="./views/vendor/jquery/jquery.min.js"></script>
    <script src="./views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./views/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->


    <!-- Page level plugins -->
    <script src="./views/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="./views/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->


</div>
</body>

</html>